.scu_overview_wrapper {
    position: relative;
    background: url("http://2017.igem.org/wiki/images/7/7a/T--SCU_China--bakcground.jpg") repeat-y top center;
    background-size: contain;
    width: 100%;
    height: auto;
}
.overview-title {
    font-size: 48px !important;
    color: #2b5d10 !important;
    font-family: raleway-bold, cambria,"Times New Roman", Georgia, Serif, sans-serif !important;
    text-align: center !important;
    margin: 20vh auto 10px auto !important;
}

.overview-content {
    text-align: left !important;
    font-family: cambria,Times New Roman, Georgia, Serif, sans-serif !important;
    font-size: 24px !important;
    width: 60% !important;
    margin: 0 auto 15px auto;
    border-bottom: solid 5px;
    border-radius: 10px;
    color: #2b5d10;
}
.overview-link {
    color: #11abb0;
}
.scu_review_part_title{
    color: #2b5d10 !important;
    font-size: 48px !important;
}

.review_image {
    width: 60% !important;
    height: auto !important;
    margin: 10px auto 10px auto;
}
.review_image_style{
    opacity: 1.0;
}
.scu_review_number{
    font-size: 64px !important;
    font-style: italic !important;
    float: left !important;
    color: #2b5d10 !important;
    opacity: 0.7;
    padding-right: 10px;
    font-family: cambria,Times New Roman, Georgia, Serif, sans-serif;
    margin-top: 20px;
    width: 10%;
}

.scu_review_background{
    position: relative;
    width: 80%;
    margin:20px auto;
}
.overview_author {
    float: right;
    position: relative;
    color: #2b5d10;
}

.scu_review_black {
    color: black !important;
    font-size: 24px !important;
    font-family:raleway-bold, cambria,"Times New Roman", Georgia, Serif, sans-serif;
}
.scu_review_part_title {
    text-align: center !important;
    font-size: 36px !important;
    color: #2b5d10 !important;
    margin-top: 30px;
}
.margin-top-20vh {
    height: 20vh !important;
}
.scu_split {
    border-top: dotted 10px;
    border-radius: 10px;
    margin: 10px auto 10px auto;
}
.scu_split2 {
    border-top: solid 10px;
    border-radius: 10px;
    margin: 10px auto 10px auto;
}

.scu_review_content {
    width: 90%;
    font-size: 24px;
    font-family: raleway-bold, cambria,"Times New Roman", Georgia, Serif, sans-serif;
    opacity: 0.8;


}
.scu_review_content > h4 {
    color: #2b5d10;
    font-size: 48px !important;
}

.scu_review_content_wrapper {
    width: 60%;
    margin: -10px auto;
    color: #2b5d10;
    border-top: solid 5px;
    border-radius: 10px;
}
.scu_review_content_wrapper2 {
    width: 60%;
    margin: -10px auto;
    color: #2b5d10;
}

