.scu_overview_wrapper {
    position: relative;
    background: url("T--SCU_China_2017--project.jpg") repeat-y top center;
    background-size: contain;
    width: inherit;
    height: 420vh;
}
.overview-title {
    font-size: 48px;
    color: #2b5d10;
    font-family: raleway-bold, cambria,"Times New Roman", Georgia, Serif, sans-serif;
    text-align: center;
    margin: -100px auto 10px auto;
}

.overview-content {
    text-align: left;
    font-family: cambria,Times New Roman, Georgia, Serif, sans-serif;
    font-size: 24px;
    width: 60%;
    margin: 0 auto 15px auto;
    border-bottom: solid 5px;
    border-radius: 10px;
    color: #2b5d10;
}
.overview-link {
    color: #11abb0;
}

.review_image {
    width: 80%;
    height: auto;
    margin: 50px auto 10px auto;
}
.review_image_style{
    opacity: 1.0;
}
.scu_review_number{
    font-size: 64px;
    font-style: italic;
    float: left;
    color: #2b5d10;
    opacity: 0.7;
    padding-right: 10px;
    font-family: cambria,Times New Roman, Georgia, Serif, sans-serif;
    margin-top: 20px;
    width: 10%;
}

.scu_review_background{
    position: relative;
    width: 80%;
    margin:20px auto;
}

.scu_split {
    border-top: dotted 10px;
    border-radius: 10px;
    margin: 250px auto 10px auto;
}
.scu_split2 {

}

.scu_review_content {
    width: 90%;
    float: left;
    font-size: 24px;
    font-family: raleway-bold, cambria,"Times New Roman", Georgia, Serif, sans-serif;
    opacity: 0.8;


}
.scu_review_content > h4 {
    color: #2b5d10;
}

.scu_review_content_wrapper {
    width: 60%;
    margin: -10px auto;
    color: #2b5d10;
    border-top: solid 5px;
    border-radius: 10px;
}
.scu_review_content_wrapper2 {
    width: 60%;
    margin: -10px auto;
    color: #2b5d10;
}